:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  min-height: 100%;
  background: linear-gradient(#3733c8, #2820a1);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h1, h2, h3, h4, h5, hgroup {
  padding: 0;
  margin: 0;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

.material-icons {
  vertical-align: middle;
}

#ec {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0px 0px 15px rgba(0,0,0, 0.5);
  width: 1024px;
  height: 768px;
}

#ec-nav {
  width: 100%;
  color: white;
  height: 55px;
  background-color: #3921fe;
  display: flex;
  flex-flow: row wrap;
}

#ec-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-width: 100%;
  min-height: calc(100% - 55px);
  
}

#ec-summary {
  flex: 1 0 auto;
  color: white;
  background-color: #202024;
}

#ec-activity {
  flex: 5 0 auto;
  color: white;
  background-color: #222126;
}

#ec-nav hgroup {
  flex: 3 0 auto;
}

#ec-nav-title {
  padding: 0.7rem;
  letter-spacing: 0.1rem;
  color: white;
  font-size: 2rem;
  margin-left: 1rem;
  display: inline-block;
  vertical-align: middle;
}

#ec-nav-subtitle {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 0.05rem;
  font-style: italic;
  text-decoration: underline;

}

#ec-nav-list {
  flex: 1 0 auto;
  text-align: right;
  list-style-type: none;
  line-height: 1.7rem;
  margin-right: 1rem;
}

#ec-nav-list li {
  padding: 0;
  margin: 0;
  display: inline-block;

}

li + li a {
  margin-left: 0.5rem;
}

li + li a::before {
  content: "|";
  margin-right: 0.5rem;
}

#ec-nav-list li a {
  color: white;
  text-decoration: none;
}

#ec-summary hgroup {
  text-align: center;
}

#ec-summary-balance {
  font-size: 5rem;
  margin-top: 4rem;
}

#ec-summary-title{
  font-size: 2rem;
}

.ec-summary-inputwrapper {
  text-align: center;
}

#ec-summary form {
  margin-top: 2rem;
}

#ec-summary form input {
  margin-top: 1rem;
  margin-left: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.9);
  border : none;
  padding: 0.5rem;
  font-size: 1.5rem;
  min-width: 60%;
  height: 4rem;
}

#ec-summary form button {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}

::-webkit-inner-spin-button {  
  display: none; 
}

::-webkit-calendar-picker-indicator {
  height: 50%;
  color: white;
}