:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  min-height: 100%;
  background: linear-gradient(#3733c8, #2820a1);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h1, h2, h3, h4, h5, hgroup {
  padding: 0;
  margin: 0;
}

.color-orange {
  color: orange;
}

.color-green {
  color: green;
}

.color-red {
  color: red;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

.material-icons {
  vertical-align: middle;
}

#ec {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0px 0px 15px rgba(0,0,0, 0.5);
  width: 1024px;
  height: 768px;
}

#ec-nav {
  width: 100%;
  color: white;
  height: 55px;
  background-color: #3921fe;
  display: flex;
  flex-flow: row wrap;
}

#ec-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-width: 100%;
  min-height: calc(100% - 55px);
  
}

#ec-summary {
  flex: 1 0 auto;
  color: white;
  background-color: #202024;
}

#ec-activity {
  flex: 5 0 auto;
  color: white;
  background-color: #222126;
}

#ec-nav hgroup {
  flex: 3 0 auto;
}

#ec-nav-title {
  padding: 0.7rem;
  letter-spacing: 0.1rem;
  color: white;
  font-size: 2rem;
  margin-left: 1rem;
  display: inline-block;
  vertical-align: middle;
}

#ec-nav-subtitle {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 0.05rem;
  font-style: italic;
  text-decoration: underline;

}

#ec-summary hgroup {
  text-align: center;
}

#ec-summary-balance {
  font-size: 3rem;
  margin-top: 4rem;
  padding: 0.5rem;
}

#ec-summary-title{
  font-size: 1.5rem;
  padding: 0.5rem;
}

.ec-summary-inputwrapper {
  text-align: center;
}

#ec-summary form {
  margin-top: 2rem;
}

#ec-summary form input {
  margin-top: 1rem;
  margin-left: 2rem;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.9);
  border : none;
  padding: 0.5rem;
  font-size: 1.5rem;
  min-width: 70%;
  height: 4rem;
}

#ec-summary form button {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}

::-webkit-inner-spin-button {  
  display: none; 
}

::-webkit-calendar-picker-indicator {
  height: 50%;
  color: white;
}

button {
  padding: 1rem 2rem;
  border-radius: 3rem;
}

.button-success {
  color: white;
  font-size: 1.5rem;
  background-color: #1e43ff;
  border: 1px solid rgba(255,255,255,0.1);
  text-align: center;
}

.ec-activity-header {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1rem;
  padding: 1rem;
}

#ec-activity-filterbutton {
  border-radius: 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
}

#ec-activity-title {
  flex: 1000 0 auto;
  font-size: 3rem;
  display: inline-block;
}

.ec-activity-inputwrapper {
  flex: 1 0 auto;
  display: inline-block;
}

#ec-activity-searchinput {
  margin-left: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.5);
  border : none;
  padding: 0.5rem;
  font-size: 1.5rem;
  min-width: 50%;
}

label[for="ec-summary-searchinput"] i {
  font-size: 2rem;
}

.ec-activity-hr {
  padding: 0;
  margin: 0 1rem;
  background-color: rgba(255,255,255,0.2);
  border-color: rgba(0,0,0,0.4);
}

#ec-activity-tablewrapper {
  height: 600px;
  overflow: auto;
}

#ec-activity-table {
  min-width: 100%;
  margin-top: 2rem;
  text-align: center;

}

#ec-activity-table>thead>tr>th {
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  width: 33%;
  padding-bottom: 1rem;
}

#ec-activity-table>tbody>tr>td {
  padding: 0.3rem;
  font-size: 1.2rem;
}

@media ( max-width: 1056px ) and ( min-width: 866px ) {

  body {
    width: 100%;
    height: 100%;
  }
  #ec {
    min-height: 100%;
    min-width: 100%;
  }
}

@media ( max-width: 865px ) {

  body {
    width: 100%;
    height: 100%;
    align-items: stretch;
    justify-content: flex-start;
  }

  #ec {
    min-height: 100%;
    min-width: 100%;
  }

  #ec-wrapper {
    flex-direction: column;
  }

  #ec-activity-title {
    font-size: 2rem;
  }

  #ec-activity-searchinput {
    min-width: 20%;
    font-size: 1rem;
  }

  #ec-activity-filterbutton {
    font-size: 0.7rem;
  }

  #ec-summary-submitbutton {
    margin-bottom: 2rem !important;
  }

  #ec-activity-tablewrapper {
    height: 300px;
  }
}